<a href="https://colab.research.google.com/github/Naybellez/analysisCode/blob/apiOlympix/olympic_dataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
import time
import datetime

In [ ]:
# Read in csv
df = pd.read_csv('/content/OlympData.csv')

ParserError: ignored

In [ ]:
# Look at DF
df.head()

,Unnamed: 0,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,0,M,10000M,Rio,2016,B,TOLA,ETH,27:06.3
1,1,M,10000M,Beijing,2008,G,BEKELE,ETH,27:01.2
2,2,M,10000M,Beijing,2008,S,SIHINE,ETH,27:02.8
3,3,M,10000M,Beijing,2008,B,KOGO,KEN,27:04.1
4,4,M,10000M,Sydney,2000,G,GEBRSELASSIE,ETH,27:18.2

In [ ]:
# Tidying Data
df_w = df[df['Gender'] == 'W'] # No MEN!

#df_w.head()  # Look at data
#df_w.tail()
#print(np.unique(df_w['Location'])) 

# Reduce time scope to anything greater than 2000
df_w = df_w[df_w['Year'] >= '2000']
print(df_w)
#pd.unique(df_w['Year'])

     Unnamed: 0 Gender     Event Location  Year Medal          Name  \
641         641      W    10000M      Rio  2016     G         AYANA
642         642      W    10000M      Rio  2016     B        DIBABA
643         643      W    10000M  Beijing  2008     G        DIBABA
644         644      W    10000M  Beijing  2008     S   ABEYLEGESSE
645         645      W    10000M  Beijing  2008     B      FLANAGAN
..          ...    ...       ...      ...   ...   ...           ...
968         968      W  Marathon   London  2012     G        GELANA
969         969      W  Marathon   London  2012     S        JEPTOO
970         970      W  Marathon   Athens  2004     G       NOGUCHI
971         971      W  Marathon   Athens  2004     S       NDEREBA
972         972      W  Marathon   Athens  2004     B        KASTOR

    Nationality         Result
641         ETH  00:29:17.2917
642         ETH  00:29:43.2943
643         ETH  00:29:55.2955
644         TUR  00:29:56.2956
645         USA  00:30:22.3022
..          ...            ...
968         ETH   02:23:07.237
969         KEN  02:23:12.2312
970         JPN  02:26:20.2620
971         KEN  02:26:32.2632
972         USA  02:27:20.2720

[194 rows x 9 columns]

In [ ]:
# My analysis

# I want to know how much faster gold medalists run than other medalists & non medalist.
#group data by event.
#then group by medel
#get averages.

In [ ]:
df_w = df_w[df_w['Year'] >= '2000']
print(df_w)

     Unnamed: 0 Gender     Event Location  Year Medal          Name  \
641         641      W    10000M      Rio  2016     G         AYANA
642         642      W    10000M      Rio  2016     B        DIBABA
643         643      W    10000M  Beijing  2008     G        DIBABA
644         644      W    10000M  Beijing  2008     S   ABEYLEGESSE
645         645      W    10000M  Beijing  2008     B      FLANAGAN
..          ...    ...       ...      ...   ...   ...           ...
968         968      W  Marathon   London  2012     G        GELANA
969         969      W  Marathon   London  2012     S        JEPTOO
970         970      W  Marathon   Athens  2004     G       NOGUCHI
971         971      W  Marathon   Athens  2004     S       NDEREBA
972         972      W  Marathon   Athens  2004     B        KASTOR

    Nationality         Result
641         ETH  00:29:17.2917
642         ETH  00:29:43.2943
643         ETH  00:29:55.2955
644         TUR  00:29:56.2956
645         USA  00:30:22.3022
..          ...            ...
968         ETH   02:23:07.237
969         KEN  02:23:12.2312
970         JPN  02:26:20.2620
971         KEN  02:26:32.2632
972         USA  02:27:20.2720

[194 rows x 9 columns]

In [ ]:
#df_w100 = df_w[df_w['Event'] == '200M']
#           df.loc[:,df.loc['B',:]>0]
#659 694
#print(df_w.head)
print(len(df_w))
for i in range(len(df_w)):
  
  print(df_w.iloc[i])
#df_w100 = df_w.iloc[0:len(df_w)]
#print(df_w100)

194
Unnamed: 0               641
Gender                     W
Event                 10000M
Location                 Rio
Year                    2016
Medal                      G
Name                   AYANA
Nationality              ETH
Result         00:29:17.2917
Name: 641, dtype: object
Unnamed: 0               642
Gender                     W
Event                 10000M
Location                 Rio
Year                    2016
Medal                      B
Name                  DIBABA
Nationality              ETH
Result         00:29:43.2943
Name: 642, dtype: object
Unnamed: 0               643
Gender                     W
Event                 10000M
Location             Beijing
Year                    2008
Medal                      G
Name                  DIBABA
Nationality              ETH
Result         00:29:55.2955
Name: 643, dtype: object
Unnamed: 0               644
Gender                     W
Event                 10000M
Location             Beijing
Year                    2008
Medal                      S
Name             ABEYLEGESSE
Nationality              TUR
Result         00:29:56.2956
Name: 644, dtype: object
Unnamed: 0               645
Gender                     W
Event                 10000M
Location             Beijing
Year                    2008
Medal                      B
Name                FLANAGAN
Nationality              USA
Result         00:30:22.3022
Name: 645, dtype: object
Unnamed: 0               646
Gender                     W
Event                 10000M
Location              Sydney
Year                    2000
Medal                      G
Name                    TULU
Nationality              ETH
Result         00:30:18.3018
Name: 646, dtype: object
Unnamed: 0               647
Gender                     W
Event                 10000M
Location              Sydney
Year                    2000
Medal                      S
Name                    WAMI
Nationality              ETH
Result         00:30:22.3022
Name: 647, dtype: object
Unnamed: 0               648
Gender                     W
Event                 10000M
Location              Sydney
Year                    2000
Medal                      B
Name                 RIBEIRO
Nationality              POR
Result         00:30:23.3023
Name: 648, dtype: object
Unnamed: 0               652
Gender                     W
Event                 10000M
Location              London
Year                    2012
Medal                      G
Name                  DIBABA
Nationality              ETH
Result         00:30:21.3021
Name: 652, dtype: object
Unnamed: 0               653
Gender                     W
Event                 10000M
Location              Athens
Year                    2004
Medal                      G
Name                    XING
Nationality              CHN
Result         00:30:24.3024
Name: 653, dtype: object
Unnamed: 0               654
Gender                     W
Event                 10000M
Location              Athens
Year                    2004
Medal                      S
Name                  DIBABA
Nationality              ETH
Result         00:30:25.3025
Name: 654, dtype: object
Unnamed: 0               655
Gender                     W
Event                 10000M
Location              Athens
Year                    2004
Medal                      B
Name                    TULU
Nationality              ETH
Result         00:30:26.3026
Name: 655, dtype: object
Unnamed: 0              659
Gender                    W
Event                  100M
Location                Rio
Year                   2016
Medal                     G
Name               THOMPSON
Nationality             JAM
Result         00:00:11.011
Name: 659, dtype: object
Unnamed: 0              660
Gender                    W
Event                  100M
Location                Rio
Year                   2016
Medal                     S
Name                  BOWIE
Nationality             USA
Result         00:00:11.011
Name: 660, dtype: object
Unnamed: 0               661
Gender                     W
Event                   100M
Location                 Rio
Year                    2016
Medal                      B
Name            FRASER-PRYCE
Nationality              JAM
Result          00:00:11.011
Name: 661, dtype: object
Unnamed: 0               662
Gender                     W
Event                   100M
Location             Beijing
Year                    2008
Medal                      G
Name            FRASER-PRYCE
Nationality              JAM
Result          00:00:11.011
Name: 662, dtype: object
Unnamed: 0              663
Gender                    W
Event                  100M
Location            Beijing
Year                   2008
Medal                     S
Name                SIMPSON
Nationality             JAM
Result         00:00:11.011
Name: 663, dtype: object
Unnamed: 0              664
Gender                    W
Event                  100M
Location            Beijing
Year                   2008
Medal                     S
Name                STEWART
Nationality             JAM
Result         00:00:11.011
Name: 664, dtype: object
Unnamed: 0              665
Gender                    W
Event                  100M
Location             Sydney
Year                   2000
Medal                     S
Name                 THANOU
Nationality             GRE
Result         00:00:11.011
Name: 665, dtype: object
Unnamed: 0              666
Gender                    W
Event                  100M
Location             Sydney
Year                   2000
Medal                     S
Name               LAWRENCE
Nationality             JAM
Result         00:00:11.011
Name: 666, dtype: object
Unnamed: 0              667
Gender                    W
Event                  100M
Location             Sydney
Year                   2000
Medal                     B
Name                  OTTEY
Nationality             JAM
Result         00:00:11.011
Name: 667, dtype: object
Unnamed: 0               689
Gender                     W
Event                   100M
Location              London
Year                    2012
Medal                      G
Name            FRASER-PRYCE
Nationality              JAM
Result          00:00:11.011
Name: 689, dtype: object
Unnamed: 0              690
Gender                    W
Event                  100M
Location             London
Year                   2012
Medal                     S
Name                  JETER
Nationality             USA
Result         00:00:11.011
Name: 690, dtype: object
Unnamed: 0                 691
Gender                       W
Event                     100M
Location                London
Year                      2012
Medal                        B
Name            CAMPBELL-BROWN
Nationality                JAM
Result            00:00:11.011
Name: 691, dtype: object
Unnamed: 0               692
Gender                     W
Event                   100M
Location              Athens
Year                    2004
Medal                      G
Name            NESTSIARENKA
Nationality              BLR
Result          00:00:11.011
Name: 692, dtype: object
Unnamed: 0              693
Gender                    W
Event                  100M
Location             Athens
Year                   2004
Medal                     S
Name               WILLIAMS
Nationality             USA
Result         00:00:11.011
Name: 693, dtype: object
Unnamed: 0                 694
Gender                       W
Event                     100M
Location                Athens
Year                      2004
Medal                        B
Name            CAMPBELL-BROWN
Nationality                JAM
Result            00:00:11.011
Name: 694, dtype: object
Unnamed: 0              708
Gender                    W
Event                 1500M
Location                Rio
Year                   2016
Medal                     S
Name                 DIBABA
Nationality             ETH
Result         00:04:10.410
Name: 708, dtype: object
Unnamed: 0              709
Gender                    W
Event                 1500M
Location                Rio
Year                   2016
Medal                     B
Name                SIMPSON
Nationality             USA
Result         00:04:11.411
Name: 709, dtype: object
Unnamed: 0              710
Gender                    W
Event                 1500M
Location            Beijing
Year                   2008
Medal                     S
Name            LISHCHYNSKA
Nationality             UKR
Result          00:04:02.42
Name: 710, dtype: object
Unnamed: 0             711
Gender                   W
Event                1500M
Location           Beijing
Year                  2008
Medal                    B
Name                TOBIAS
Nationality            UKR
Result         00:04:02.42
Name: 711, dtype: object
Unnamed: 0               712
Gender                     W
Event                  1500M
Location              Sydney
Year                    2000
Medal                      G
Name            MERAH-BENIDA
Nationality              ALG
Result           00:04:05.45
Name: 712, dtype: object
Unnamed: 0             713
Gender                   W
Event                1500M
Location            Sydney
Year                  2000
Medal                    S
Name               SZEKELY
Nationality            ROU
Result         00:04:05.45
Name: 713, dtype: object
Unnamed: 0             714
Gender                   W
Event                1500M
Location            Sydney
Year                  2000
Medal                    B
Name                 SZABO
Nationality            ROU
Result         00:04:05.45
Name: 714, dtype: object
Unnamed: 0              721
Gender                    W
Event                 1500M
Location             London
Year                   2012
Medal                     S
Name                  BULUT
Nationality             TUR
Result         00:04:10.410
Name: 721, dtype: object
Unnamed: 0              722
Gender                    W
Event                 1500M
Location             Athens
Year                   2004
Medal                     G
Name                 HOLMES
Nationality             GBR
Result         00:03:58.358
Name: 722, dtype: object
Unnamed: 0              723
Gender                    W
Event                 1500M
Location             Athens
Year                   2004
Medal                     S
Name              TOMASHOVA
Nationality             RUS
Result         00:03:58.358
Name: 723, dtype: object
Unnamed: 0              724
Gender                    W
Event                 1500M
Location             Athens
Year                   2004
Medal                     B
Name                CIONCAN
Nationality             ROU
Result         00:03:58.358
Name: 724, dtype: object
Unnamed: 0              734
Gender                    W
Event                  200M
Location                Rio
Year                   2016
Medal                     G
Name               THOMPSON
Nationality             JAM
Result         00:00:22.022
Name: 734, dtype: object
Unnamed: 0              735
Gender                    W
Event                  200M
Location                Rio
Year                   2016
Medal                     S
Name              SCHIPPERS
Nationality             NED
Result         00:00:22.022
Name: 735, dtype: object
Unnamed: 0              736
Gender                    W
Event                  200M
Location                Rio
Year                   2016
Medal                     B
Name                  BOWIE
Nationality             USA
Result         00:00:22.022
Name: 736, dtype: object
Unnamed: 0              737
Gender                    W
Event                  200M
Location             Sydney
Year                   2000
Medal                     G
Name                  DAVIS
Nationality             BAH
Result         00:00:22.022
Name: 737, dtype: object
Unnamed: 0              738
Gender                    W
Event                  200M
Location             Sydney
Year                   2000
Medal                     S
Name             JAYASINGHE
Nationality             SRI
Result         00:00:22.022
Name: 738, dtype: object
Unnamed: 0              739
Gender                    W
Event                  200M
Location             Sydney
Year                   2000
Medal                     B
Name               MCDONALD
Nationality             JAM
Result         00:00:22.022
Name: 739, dtype: object
Unnamed: 0              754
Gender                    W
Event                  200M
Location             London
Year                   2012
Medal                     G
Name                  FELIX
Nationality             USA
Result         00:00:22.022
Name: 754, dtype: object
Unnamed: 0               755
Gender                     W
Event                   200M
Location              London
Year                    2012
Medal                      S
Name            FRASER-PRYCE
Nationality              JAM
Result          00:00:22.022
Name: 755, dtype: object
Unnamed: 0              756
Gender                    W
Event                  200M
Location             London
Year                   2012
Medal                     B
Name                  JETER
Nationality             USA
Result         00:00:22.022
Name: 756, dtype: object
Unnamed: 0                 757
Gender                       W
Event                     200M
Location                Athens
Year                      2004
Medal                        G
Name            CAMPBELL-BROWN
Nationality                JAM
Result            00:00:22.022
Name: 757, dtype: object
Unnamed: 0              758
Gender                    W
Event                  200M
Location             Athens
Year                   2004
Medal                     S
Name                  FELIX
Nationality             USA
Result         00:00:22.022
Name: 758, dtype: object
Unnamed: 0                    759
Gender                          W
Event                        200M
Location                   Athens
Year                         2004
Medal                           B
Name            FERGUSON-MCKENZIE
Nationality                   BAH
Result               00:00:22.022
Name: 759, dtype: object
Unnamed: 0              774
Gender                    W
Event                  400M
Location                Rio
Year                   2016
Medal                     G
Name                 MILLER
Nationality             BAH
Result         00:00:49.049
Name: 774, dtype: object
Unnamed: 0              775
Gender                    W
Event                  400M
Location                Rio
Year                   2016
Medal                     S
Name                  FELIX
Nationality             USA
Result         00:00:49.049
Name: 775, dtype: object
Unnamed: 0              776
Gender                    W
Event                  400M
Location                Rio
Year                   2016
Medal                     B
Name                JACKSON
Nationality             JAM
Result         00:00:50.050
Name: 776, dtype: object
Unnamed: 0              777
Gender                    W
Event                  400M
Location            Beijing
Year                   2008
Medal                     G
Name               OHURUOGU
Nationality             GBR
Result         00:00:50.050
Name: 777, dtype: object
Unnamed: 0              778
Gender                    W
Event                  400M
Location            Beijing
Year                   2008
Medal                     S
Name               WILLIAMS
Nationality             JAM
Result         00:00:50.050
Name: 778, dtype: object
Unnamed: 0                779
Gender                      W
Event                    400M
Location              Beijing
Year                     2008
Medal                       B
Name            RICHARDS-ROSS
Nationality               USA
Result           00:00:50.050
Name: 779, dtype: object
Unnamed: 0              780
Gender                    W
Event                  400M
Location             Sydney
Year                   2000
Medal                     G
Name                FREEMAN
Nationality             AUS
Result         00:00:49.049
Name: 780, dtype: object
Unnamed: 0              781
Gender                    W
Event                  400M
Location             Sydney
Year                   2000
Medal                     S
Name                 FENTON
Nationality             JAM
Result         00:00:50.050
Name: 781, dtype: object
Unnamed: 0              782
Gender                    W
Event                  400M
Location             Sydney
Year                   2000
Medal                     B
Name                  MERRY
Nationality             GBR
Result         00:00:50.050
Name: 782, dtype: object
Unnamed: 0                792
Gender                      W
Event                    400M
Location               London
Year                     2012
Medal                       G
Name            RICHARDS-ROSS
Nationality               USA
Result           00:00:50.050
Name: 792, dtype: object
Unnamed: 0              793
Gender                    W
Event                  400M
Location             London
Year                   2012
Medal                     S
Name               OHURUOGU
Nationality             GBR
Result         00:00:50.050
Name: 793, dtype: object
Unnamed: 0              794
Gender                    W
Event                  400M
Location             London
Year                   2012
Medal                     B
Name                TROTTER
Nationality             USA
Result         00:00:50.050
Name: 794, dtype: object
Unnamed: 0                   795
Gender                         W
Event                       400M
Location                  Athens
Year                        2004
Medal                          G
Name            WILLIAMS-DARLING
Nationality                  BAH
Result              00:00:49.049
Name: 795, dtype: object
Unnamed: 0              796
Gender                    W
Event                  400M
Location             Athens
Year                   2004
Medal                     S
Name                GUEVARA
Nationality             MEX
Result         00:00:50.050
Name: 796, dtype: object
Unnamed: 0              797
Gender                    W
Event                  400M
Location             Athens
Year                   2004
Medal                     B
Name                ANTYUKH
Nationality             RUS
Result         00:00:50.050
Name: 797, dtype: object
Unnamed: 0              809
Gender                    W
Event                4X100M
Location              Women
Year                    Rio
Medal                  2016
Name                    NaN
Nationality             USA
Result         00:00:41.041
Name: 809, dtype: object
Unnamed: 0              810
Gender                    W
Event                4X100M
Location              Women
Year                    Rio
Medal                  2016
Name                    NaN
Nationality             JAM
Result         00:00:41.041
Name: 810, dtype: object
Unnamed: 0              811
Gender                    W
Event                4X100M
Location              Women
Year                    Rio
Medal                  2016
Name                    NaN
Nationality             GBR
Result         00:00:42.042
Name: 811, dtype: object
Unnamed: 0              812
Gender                    W
Event                4X100M
Location              Women
Year                Beijing
Medal                  2008
Name                    NaN
Nationality             BEL
Result         00:00:43.043
Name: 812, dtype: object
Unnamed: 0              813
Gender                    W
Event                4X100M
Location              Women
Year                Beijing
Medal                  2008
Name                    NaN
Nationality             NGR
Result         00:00:43.043
Name: 813, dtype: object
Unnamed: 0              814
Gender                    W
Event                4X100M
Location              Women
Year                Beijing
Medal                  2008
Name                    NaN
Nationality             BRA
Result         00:00:43.043

In [ ]:

#pd.unique(df_w100['Year'])
#type(df_w100['Result'])


# Set Result to be a time varaible
#df_w100['Result'] = pd.to_timedelta(df_w100['Result'])# object not subscribable
# Remove Days
#df_w100['Result'] = df_w100.Result.astype(str).str.replace('0 days ', '')
#print(type(df_w100['Result']))

#x = time.strptime('00:01:00,000'.split(',')[0],'%H:%M:%S')
#datetime.timedelta(hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds()
#60.0
timeList = []
print(df_w100.shape)
print(df_w100['Result'])
for i in df_w100['Result']:
  i = time.strptime(i.split(',')[0],'%H:%M:%S.%f')
  timeList.append(datetime.timedelta(hours=i.tm_hour,minutes=i.tm_min,seconds=i.tm_sec).total_seconds())
#print(df_w100)
  #print(datetime.timedelta(hours=i.tm_hour,minutes=i.tm_min,seconds=i.tm_sec).total_seconds())
#print(pd.Series(timeList))
    #df_w100['Times'] = pd.Series(timeList)
#print(len(timeList))
  #df_w100V2 =pd.concat([df_w100, pd.Series(timeList)])
df = pd.DataFrame({'Times':timeList}) # turn timeList into a df 
#print(df)
df_w100 = df_w100.join(df,  how= 'cross')
  #print(df, 'df')
  #df_w100V2['Times'] = df
  #print(df, 'fgfg', '/n', df_w100V2)
  #time couldn't be mathed so making it numeric

  #df_w100['Result']= [pd.to_numeric(i) for i in df_w100['Result']]



df_w100.head()
#print(df_w100V2.shape)
#(format['%M:%S.%f', df_w100['Result']])

#df.groupby(["A", "B"]).sum()
#df_w100.groupby('Medal')['Result'].mean()
#df_w100.head()

(194, 9)
641    00:29:17.2917
642    00:29:43.2943
643    00:29:55.2955
644    00:29:56.2956
645    00:30:22.3022
           ...
968     02:23:07.237
969    02:23:12.2312
970    02:26:20.2620
971    02:26:32.2632
972    02:27:20.2720
Name: Result, Length: 194, dtype: object

AttributeError: ignored

In [ ]:
w100MAX = df_w100.groupby('Medal')['Result'].max()
w100MIN = df_w100.groupby('Medal')['Result'].min()
w100MEDIAN = df_w100.median()
w100MODE = df_w100.mode()

#plt.boxplot(x= 'Result', data= df_w100)
#df_w100.timedelta_range()
w100MAX

In [ ]:
#check maths
#df1.groupby(['State'])['Sales'].mean()
df_w100.groupby(['Medal'])['Result'].mean()

In [ ]:
df_100 = df_w100.groupby('Medal')
speedMAX = df_100['Medal', 'Result'].max()
#print(speedMAX)

spedMIN = df_100['Medal', 'Result'].min()

print('Max Speed: ', speedMAX, 'Min Speed: ', MINspeed)

In [ ]:
df_w200 = df_w[df_w['Event'] == '200M']

# Set Result to be a time varaible
df_w200['Result'] = pd.to_timedelta(df_w200['Result'])# object not subscribable
#print(df_w200)
# Remove Days
df_w200['Result'] = df_w200.Result.astype(str).str.replace('0 days ', '')
df_w200.head()

In [ ]:
pd.unique(df_w['Event'])

In [ ]:
df_w400 = df_w[df_w['Event'] == '400M']

df_w400.head()

In [ ]:
df_w800 = df_w[df_w['Event'] == '800M']

df_w800.head()

In [ ]:
df_w5T = df_w[df_w['Event'] == '5000M']

df_w5T.head()

In [ ]:
# group by year & event
#df_w.groupby(['Year'])   #.mean()
#df_w.groupby(['Event'])
#df.drop(df.columns[[2,4]]
df2016 = df_w[df_w['Year'] == '2016']
df2016.drop(df2016.columns[[0]], axis= 1, inplace= True) #data has double index col, dropping one.
#df2016

#b.groupBy("Name","Add").max().show()
df2016.groupby(['Event', 'Result'])
df2016

# I want mean results. results are not in numeric atm.
#df2016.groupby('Event')['Result'].mean()

In [ ]:
df2016.dtypes

In [ ]:
df2016.shape

In [ ]:
df2016.ndim

In [ ]:
df2016.axes

In [ ]:
df2016.describe()

In [ ]:
print(time.strftime(format['%M:%S.%f', df2016['Result']]))

In [ ]:
# Result is the time variable with mins, seconds, miliseconds
# Result type is pandas.core.series.Series
# need df to recognise Result as a time variable
#series.Series to time
type(df2016['Result'])
print('1')
df2016['Result'] = tuple(df2016['Result'])
print(type(df2016['Result'])
)
print('2')
#time.strftime('%H:%M:%S.%f',df2016['Result'])

In [ ]:
# 8 is the correct len
# len 7 is missing a zero in the tens column of mins
# len 5 are missing mins

In [ ]:
import striftime
print(df2016.strftime(foramt = '%M:%S.%f'))

In [ ]:
#print(time.strftime(format['%M:%S.%f', df2016['Result']]))
df2016['Result'] = pd.to_datetime(df2016['Result'], format = '%S.%f')
#df2016['Result'] = pd.to_timedelta(arg = df2016['Result'])
#print(pd.to_timedelta(arg = df_w100['Result'], unit = format['%S. %f']))
#need to normalise Reuslt